*{
  background-color: lightblue;

}
table, tr, th, td{
  border: solid 2px black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
th{
  background-color: grey;
  color: white;
}

td.red{
  background-color: red;
}
td.green{
  background-color: green;
}
td.blue{
  background-color: blue;
}
